/* Define color variables */
:root {
  --dark-color: #333;
  --flower-color: #ffcc00; /* Color amarillo para flores y luces */
}

.night {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  filter: blur(0.1vmin);
  background-image: radial-gradient(ellipse at top, transparent 0%, var(--dark-color)), radial-gradient(ellipse at bottom, var(--dark-color), rgba(145, 233, 255, 0.2)), repeating-linear-gradient(220deg, black 0px, black 19px, transparent 19px, transparent 22px), repeating-linear-gradient(189deg, black 0px, black 19px, transparent 19px, transparent 22px), repeating-linear-gradient(148deg, black 0px, black 19px, transparent 19px, transparent 22px), linear-gradient(90deg, #00fffa, #f0f0f0);
}

.flowers {
  position: relative;
  transform: scale(0.7);
}

.flower {
  position: absolute;
  bottom: 10vmin;
  transform-origin: bottom center;
  z-index: 10;
  --fl-speed: 0.8s;
}

.flower__leaf,
.flower__light {
  background-color: var(--flower-color); /* Color amarillo para hojas y luces */
}

.flower--1 {
  animation: moving-flower-1 4s linear infinite;
}

.flower--2 {
  animation: moving-flower-2 4s linear infinite;
}

.flower--3 {
  animation: moving-flower-3 4s linear infinite;
}

.flower--4 {
  animation: moving-flower-4 4s linear infinite;
}

.flower--5 {
  animation: moving-flower-5 4s linear infinite;
}

.flower--6 {
  animation: moving-flower-6 4s linear infinite;
}

@keyframes moving-flower-1 {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes moving-flower-2 {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes moving-flower-3 {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes moving-flower-4 {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes moving-flower-5 {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes moving-flower-6 {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
